name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
    inputs:
      person:
        description: "Person to greet"
        required: true
        default: "World"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Print greeting
        run: echo "Hello, ${{ github.event.inputs.person }}!"
